# Project exclude paths
./bots/telegram-bot/target/
./chtotib-web-app/target/
./chtotib-models/target/
./bots/telegram-bot/logs/cd
./chtotib-web-app/logs/
./logs/
./bots/telegram-bot/src/main/resources/application.yaml
./chtotib-web-app/src/main/resources/application.yaml