# Project exclude paths
/bots/telegram-bot/target/
/entity-service/target/
/bots/telegram-bot/logs/
/web-app/rest-service/target/
bots/telegram-bot/logs/
/web-app/rest-service/logs/

/bots/telegram-bot/src/main/resources/
/web-app/rest-service/src/main/resources/